<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Spring Boot Thymeleaf Hello World Example</title>

  <link rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
  <link rel="stylesheet" th:href="@{/css/main.css}"/>

</head>

<body>

<main role="main" class="container">

  <div class="starter-template">
    <h1>Spring Boot Web Thymeleaf Example</h1>
    <h2>
      <span th:text="'Hello, ' + ${message}"></span>
    </h2>
  </div>

  <ol>
    <li th:each="task : ${tasks}" th:text="${task}"></li>
  </ol>

</main>
<!-- /.container -->

<script type="text/javascript" th:src="@{webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>
</body>
</html>
